body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u2 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:100px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:100px;
}
#u4 {
  position:absolute;
  left:2px;
  top:42px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:100px;
  width:150px;
  height:620px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:620px;
}
#u6 {
  position:absolute;
  left:2px;
  top:302px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:20px;
  top:22px;
  width:360px;
  height:52px;
  font-family:'Bauhaus 93 Bold', 'Bauhaus 93';
  font-size:36px;
  color:#800080;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:72px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1134px;
  top:8px;
  width:66px;
  height:70px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:70px;
}
#u10 {
  position:absolute;
  left:2px;
  top:27px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1110px;
  top:78px;
  width:114px;
  height:16px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1210px;
  top:24px;
  width:40px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:1210px;
  top:50px;
  width:55px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:20px;
  top:176px;
  width:99px;
  height:85px;
}
#u18_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u20 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u20_img.selected {
}
#u20.selected {
}
#u21 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u22_img.selected {
}
#u22.selected {
}
#u23 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u19_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24 {
  position:absolute;
  left:20px;
  top:20px;
  width:74px;
  height:20px;
}
#u25 {
  position:absolute;
  left:22px;
  top:0px;
  width:52px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u25_img.selected {
}
#u25.selected {
}
#u26 {
  position:absolute;
  left:3px;
  top:2px;
  width:47px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:20px;
  top:40px;
  width:74px;
  height:20px;
}
#u28 {
  position:absolute;
  left:22px;
  top:0px;
  width:52px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u28_img.selected {
}
#u28.selected {
}
#u29 {
  position:absolute;
  left:3px;
  top:2px;
  width:47px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:20px;
  top:60px;
  width:74px;
  height:20px;
}
#u31 {
  position:absolute;
  left:22px;
  top:0px;
  width:52px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u31_img.selected {
}
#u31.selected {
}
#u32 {
  position:absolute;
  left:3px;
  top:2px;
  width:47px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:44px;
  top:150px;
  width:27px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u33_img.selected {
}
#u33.selected {
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:20px;
  top:256px;
  width:105px;
  height:65px;
}
#u35_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u37 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u37_img.selected {
}
#u37.selected {
}
#u38 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u39_img.selected {
}
#u39.selected {
}
#u40 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u36_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u42 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u42_img.selected {
}
#u42.selected {
}
#u43 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u45 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u45_img.selected {
}
#u45.selected {
}
#u46 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:20px;
  top:316px;
  width:105px;
  height:85px;
}
#u47_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u49 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u49_img.selected {
}
#u49.selected {
}
#u50 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u51_img.selected {
}
#u51.selected {
}
#u52 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u48_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u54 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u54_img.selected {
}
#u54.selected {
}
#u55 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u57 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u57_img.selected {
}
#u57.selected {
}
#u58 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u60 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u60_img.selected {
}
#u60.selected {
}
#u61 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:20px;
  top:396px;
  width:105px;
  height:65px;
}
#u62_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u64 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u64_img.selected {
}
#u64.selected {
}
#u65 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u66_img.selected {
}
#u66.selected {
}
#u67 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u63_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u69 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u69_img.selected {
}
#u69.selected {
}
#u70 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u72 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u72_img.selected {
}
#u72.selected {
}
#u73 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:170px;
  top:158px;
  width:1080px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:1063px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1080px;
  height:3px;
}
#u75 {
  position:absolute;
  left:180px;
  top:120px;
  width:100px;
  height:35px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:180px;
  top:175px;
  width:100px;
  height:35px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:180px;
  top:220px;
  width:100px;
  height:35px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u80 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:290px;
  top:128px;
  width:55px;
  height:19px;
  font-size:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:290px;
  top:183px;
  width:149px;
  height:19px;
  font-size:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:19px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:290px;
  top:226px;
  width:149px;
  height:22px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u86 {
  position:absolute;
  left:180px;
  top:265px;
  width:100px;
  height:35px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u87 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:1055px;
  top:675px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u88_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:104px;
  height:42px;
}
#u88_img.mouseDown {
  left:0px;
  width:100px;
  height:35px;
}
#u88.mouseDown {
}
#u89 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:1165px;
  top:675px;
  width:100px;
  height:35px;
}
#u90_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:104px;
  height:42px;
}
#u90_img.mouseDown {
  left:0px;
  width:100px;
  height:35px;
}
#u90.mouseDown {
}
#u91 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:980px;
  top:265px;
  width:170px;
  height:195px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:195px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:980px;
  top:385px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u94_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:104px;
  height:42px;
}
#u94_img.mouseDown {
  left:0px;
  width:100px;
  height:35px;
}
#u94.mouseDown {
}
#u95 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:1090px;
  top:385px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u96_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:104px;
  height:42px;
}
#u96_img.mouseDown {
  left:0px;
  width:100px;
  height:35px;
}
#u96.mouseDown {
}
#u97 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:290px;
  top:265px;
  width:660px;
  height:370px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:370px;
}
#u99 {
  position:absolute;
  left:2px;
  top:177px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:313px;
  top:248px;
  visibility:hidden;
}
#u100_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u100_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:403px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:403px;
}
#u102 {
  position:absolute;
  left:2px;
  top:194px;
  width:713px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:558px;
  top:364px;
  width:67px;
  height:23px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:23px;
}
#u104 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:634px;
  top:364px;
  width:67px;
  height:23px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:23px;
}
#u106 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
