body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u2 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:100px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:100px;
}
#u4 {
  position:absolute;
  left:2px;
  top:42px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:100px;
  width:150px;
  height:620px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:620px;
}
#u6 {
  position:absolute;
  left:2px;
  top:302px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:20px;
  top:22px;
  width:360px;
  height:52px;
  font-family:'Bauhaus 93 Bold', 'Bauhaus 93';
  font-size:36px;
  color:#800080;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:72px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1134px;
  top:8px;
  width:66px;
  height:70px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:70px;
}
#u10 {
  position:absolute;
  left:2px;
  top:27px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1110px;
  top:78px;
  width:114px;
  height:16px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1210px;
  top:24px;
  width:40px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:1210px;
  top:50px;
  width:55px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:20px;
  top:176px;
  width:99px;
  height:85px;
}
#u18_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u20 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u20_img.selected {
}
#u20.selected {
}
#u21 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u22_img.selected {
}
#u22.selected {
}
#u23 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u19_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24 {
  position:absolute;
  left:20px;
  top:20px;
  width:74px;
  height:20px;
}
#u25 {
  position:absolute;
  left:22px;
  top:0px;
  width:52px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u25_img.selected {
}
#u25.selected {
}
#u26 {
  position:absolute;
  left:3px;
  top:2px;
  width:47px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:20px;
  top:40px;
  width:74px;
  height:20px;
}
#u28 {
  position:absolute;
  left:22px;
  top:0px;
  width:52px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u28_img.selected {
}
#u28.selected {
}
#u29 {
  position:absolute;
  left:3px;
  top:2px;
  width:47px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:20px;
  top:60px;
  width:74px;
  height:20px;
}
#u31 {
  position:absolute;
  left:22px;
  top:0px;
  width:52px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u31_img.selected {
}
#u31.selected {
}
#u32 {
  position:absolute;
  left:3px;
  top:2px;
  width:47px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:44px;
  top:150px;
  width:27px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u33_img.selected {
}
#u33.selected {
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:20px;
  top:256px;
  width:105px;
  height:65px;
}
#u35_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u37 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u37_img.selected {
}
#u37.selected {
}
#u38 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u39_img.selected {
}
#u39.selected {
}
#u40 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u36_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u42 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u42_img.selected {
}
#u42.selected {
}
#u43 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u45 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u45_img.selected {
}
#u45.selected {
}
#u46 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:20px;
  top:316px;
  width:105px;
  height:85px;
}
#u47_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u49 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u49_img.selected {
}
#u49.selected {
}
#u50 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u51_img.selected {
}
#u51.selected {
}
#u52 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u48_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u54 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u54_img.selected {
}
#u54.selected {
}
#u55 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u57 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u57_img.selected {
}
#u57.selected {
}
#u58 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u60 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u60_img.selected {
}
#u60.selected {
}
#u61 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:20px;
  top:396px;
  width:105px;
  height:65px;
}
#u62_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u64 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u64_img.selected {
}
#u64.selected {
}
#u65 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u66_img.selected {
}
#u66.selected {
}
#u67 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u63_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u69 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u69_img.selected {
}
#u69.selected {
}
#u70 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u72 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u72_img.selected {
}
#u72.selected {
}
#u73 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:180px;
  top:152px;
  width:121px;
  height:28px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:311px;
  top:152px;
  width:75px;
  height:28px;
  color:#FF0000;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:28px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:180px;
  top:200px;
  width:200px;
  height:100px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u79 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:190px;
  top:208px;
  width:105px;
  height:22px;
  font-size:18px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:640px;
  top:152px;
  width:97px;
  height:28px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:771px;
  top:152px;
  width:62px;
  height:28px;
  color:#FF0000;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:640px;
  top:200px;
  width:200px;
  height:100px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u87 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:400px;
  top:200px;
  width:200px;
  height:100px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u89 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:539px;
  top:158px;
  width:61px;
  height:16px;
  text-align:right;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:190px;
  top:240px;
  width:170px;
  height:36px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:36px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:410px;
  top:208px;
  width:105px;
  height:22px;
  font-size:18px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:410px;
  top:240px;
  width:170px;
  height:36px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:36px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:650px;
  top:208px;
  width:105px;
  height:22px;
  font-size:18px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:650px;
  top:240px;
  width:170px;
  height:36px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:36px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:860px;
  top:200px;
  width:200px;
  height:100px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u103 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:870px;
  top:208px;
  width:105px;
  height:22px;
  font-size:18px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:870px;
  top:240px;
  width:170px;
  height:36px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:36px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:999px;
  top:158px;
  width:61px;
  height:16px;
  text-align:right;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:180px;
  top:336px;
  width:97px;
  height:28px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:180px;
  top:390px;
  width:200px;
  height:150px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#u113 {
  position:absolute;
  left:2px;
  top:67px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:400px;
  top:390px;
  width:200px;
  height:150px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#u115 {
  position:absolute;
  left:2px;
  top:67px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:190px;
  top:399px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:420px;
  top:399px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:640px;
  top:390px;
  width:200px;
  height:150px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#u121 {
  position:absolute;
  left:2px;
  top:67px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:660px;
  top:399px;
  width:55px;
  height:22px;
  font-size:18px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:860px;
  top:390px;
  width:200px;
  height:150px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#u125 {
  position:absolute;
  left:2px;
  top:67px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:880px;
  top:399px;
  width:55px;
  height:22px;
  font-size:18px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:190px;
  top:431px;
  width:40px;
  height:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:190px;
  top:457px;
  width:40px;
  height:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:190px;
  top:483px;
  width:40px;
  height:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:190px;
  top:510px;
  width:40px;
  height:16px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:190px;
  top:276px;
  width:111px;
  height:24px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:410px;
  top:276px;
  width:111px;
  height:24px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:650px;
  top:276px;
  width:111px;
  height:24px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:870px;
  top:276px;
  width:111px;
  height:24px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:240px;
  top:431px;
  width:29px;
  height:16px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:240px;
  top:457px;
  width:22px;
  height:16px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:240px;
  top:483px;
  width:63px;
  height:16px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:240px;
  top:510px;
  width:8px;
  height:16px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:420px;
  top:431px;
  width:40px;
  height:16px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:420px;
  top:457px;
  width:40px;
  height:16px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:420px;
  top:483px;
  width:40px;
  height:16px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:420px;
  top:510px;
  width:40px;
  height:16px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u160 {
  position:absolute;
  left:470px;
  top:431px;
  width:29px;
  height:16px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:470px;
  top:457px;
  width:22px;
  height:16px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u164 {
  position:absolute;
  left:470px;
  top:483px;
  width:63px;
  height:16px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u166 {
  position:absolute;
  left:470px;
  top:510px;
  width:8px;
  height:16px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u168 {
  position:absolute;
  left:660px;
  top:431px;
  width:40px;
  height:16px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u170 {
  position:absolute;
  left:660px;
  top:457px;
  width:40px;
  height:16px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u172 {
  position:absolute;
  left:660px;
  top:483px;
  width:40px;
  height:16px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:660px;
  top:510px;
  width:40px;
  height:16px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u176 {
  position:absolute;
  left:710px;
  top:431px;
  width:29px;
  height:16px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u178 {
  position:absolute;
  left:710px;
  top:457px;
  width:22px;
  height:16px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u180 {
  position:absolute;
  left:710px;
  top:483px;
  width:63px;
  height:16px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u182 {
  position:absolute;
  left:710px;
  top:510px;
  width:8px;
  height:16px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u184 {
  position:absolute;
  left:880px;
  top:431px;
  width:40px;
  height:16px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u186 {
  position:absolute;
  left:880px;
  top:457px;
  width:40px;
  height:16px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u188 {
  position:absolute;
  left:880px;
  top:483px;
  width:40px;
  height:16px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u190 {
  position:absolute;
  left:880px;
  top:510px;
  width:40px;
  height:16px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u192 {
  position:absolute;
  left:930px;
  top:431px;
  width:29px;
  height:16px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u194 {
  position:absolute;
  left:930px;
  top:457px;
  width:22px;
  height:16px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u196 {
  position:absolute;
  left:930px;
  top:483px;
  width:63px;
  height:16px;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u198 {
  position:absolute;
  left:930px;
  top:510px;
  width:8px;
  height:16px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u200 {
  position:absolute;
  left:206px;
  top:534px;
  width:50px;
  height:101px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  color:#FFFFFF;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:101px;
}
#u201 {
  position:absolute;
  left:2px;
  top:42px;
  width:46px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:304px;
  top:534px;
  width:50px;
  height:101px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FFFFFF;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:101px;
}
#u203 {
  position:absolute;
  left:2px;
  top:42px;
  width:46px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:218px;
  top:620px;
  width:27px;
  height:16px;
  text-align:center;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u206 {
  position:absolute;
  left:316px;
  top:620px;
  width:27px;
  height:16px;
  text-align:center;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u208 {
  position:absolute;
  left:428px;
  top:534px;
  width:50px;
  height:101px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  color:#FFFFFF;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:101px;
}
#u209 {
  position:absolute;
  left:2px;
  top:42px;
  width:46px;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:526px;
  top:534px;
  width:50px;
  height:101px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FFFFFF;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:101px;
}
#u211 {
  position:absolute;
  left:2px;
  top:42px;
  width:46px;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:440px;
  top:620px;
  width:27px;
  height:16px;
  text-align:center;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u214 {
  position:absolute;
  left:538px;
  top:620px;
  width:27px;
  height:16px;
  text-align:center;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u216 {
  position:absolute;
  left:668px;
  top:534px;
  width:50px;
  height:101px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  color:#FFFFFF;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:101px;
}
#u217 {
  position:absolute;
  left:2px;
  top:42px;
  width:46px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:766px;
  top:534px;
  width:50px;
  height:101px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FFFFFF;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:101px;
}
#u219 {
  position:absolute;
  left:2px;
  top:42px;
  width:46px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:680px;
  top:620px;
  width:27px;
  height:16px;
  text-align:center;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u222 {
  position:absolute;
  left:778px;
  top:620px;
  width:27px;
  height:16px;
  text-align:center;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u224 {
  position:absolute;
  left:888px;
  top:534px;
  width:50px;
  height:101px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  color:#FFFFFF;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:101px;
}
#u225 {
  position:absolute;
  left:2px;
  top:42px;
  width:46px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:986px;
  top:534px;
  width:50px;
  height:101px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FFFFFF;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:101px;
}
#u227 {
  position:absolute;
  left:2px;
  top:42px;
  width:46px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:900px;
  top:620px;
  width:27px;
  height:16px;
  text-align:center;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u230 {
  position:absolute;
  left:998px;
  top:620px;
  width:27px;
  height:16px;
  text-align:center;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u232 {
  position:absolute;
  left:293px;
  top:348px;
  width:254px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
  color:#FF0000;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:16px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  white-space:nowrap;
}
