body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u2 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:100px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:100px;
}
#u4 {
  position:absolute;
  left:2px;
  top:42px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:100px;
  width:150px;
  height:620px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:620px;
}
#u6 {
  position:absolute;
  left:2px;
  top:302px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:20px;
  top:22px;
  width:360px;
  height:52px;
  font-family:'Bauhaus 93 Bold', 'Bauhaus 93';
  font-size:36px;
  color:#800080;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:72px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1134px;
  top:8px;
  width:66px;
  height:70px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:70px;
}
#u10 {
  position:absolute;
  left:2px;
  top:27px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1110px;
  top:78px;
  width:114px;
  height:16px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1210px;
  top:24px;
  width:40px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:1210px;
  top:50px;
  width:55px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:20px;
  top:176px;
  width:99px;
  height:85px;
}
#u18_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u20 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u20_img.selected {
}
#u20.selected {
}
#u21 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u22_img.selected {
}
#u22.selected {
}
#u23 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u19_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24 {
  position:absolute;
  left:20px;
  top:20px;
  width:74px;
  height:20px;
}
#u25 {
  position:absolute;
  left:22px;
  top:0px;
  width:52px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u25_img.selected {
}
#u25.selected {
}
#u26 {
  position:absolute;
  left:3px;
  top:2px;
  width:47px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:20px;
  top:40px;
  width:74px;
  height:20px;
}
#u28 {
  position:absolute;
  left:22px;
  top:0px;
  width:52px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u28_img.selected {
}
#u28.selected {
}
#u29 {
  position:absolute;
  left:3px;
  top:2px;
  width:47px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:20px;
  top:60px;
  width:74px;
  height:20px;
}
#u31 {
  position:absolute;
  left:22px;
  top:0px;
  width:52px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u31_img.selected {
}
#u31.selected {
}
#u32 {
  position:absolute;
  left:3px;
  top:2px;
  width:47px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:44px;
  top:150px;
  width:27px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u33_img.selected {
}
#u33.selected {
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:20px;
  top:256px;
  width:105px;
  height:65px;
}
#u35_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u37 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u37_img.selected {
}
#u37.selected {
}
#u38 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u39_img.selected {
}
#u39.selected {
}
#u40 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u36_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u42 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u42_img.selected {
}
#u42.selected {
}
#u43 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u45 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u45_img.selected {
}
#u45.selected {
}
#u46 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:20px;
  top:316px;
  width:105px;
  height:85px;
}
#u47_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u49 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u49_img.selected {
}
#u49.selected {
}
#u50 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u51_img.selected {
}
#u51.selected {
}
#u52 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u48_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u54 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u54_img.selected {
}
#u54.selected {
}
#u55 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u57 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u57_img.selected {
}
#u57.selected {
}
#u58 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u60 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u60_img.selected {
}
#u60.selected {
}
#u61 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:20px;
  top:396px;
  width:105px;
  height:65px;
}
#u62_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u64 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u64_img.selected {
}
#u64.selected {
}
#u65 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u66_img.selected {
}
#u66.selected {
}
#u67 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u63_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u69 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u69_img.selected {
}
#u69.selected {
}
#u70 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u72 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u72_img.selected {
}
#u72.selected {
}
#u73 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:170px;
  top:670px;
  width:60px;
  height:30px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u75 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:1190px;
  top:670px;
  width:60px;
  height:30px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:170px;
  top:150px;
  width:1080px;
  height:10px;
}
#u78_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_end {
  position:absolute;
  left:1063px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1080px;
  height:3px;
}
#u79 {
  position:absolute;
  left:250px;
  top:115px;
  width:100px;
  height:35px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u80 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:360px;
  top:115px;
  width:100px;
  height:35px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u82 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:470px;
  top:115px;
  width:100px;
  height:35px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u84 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:1150px;
  top:106px;
  width:100px;
  height:35px;
}
#u85_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:104px;
  height:42px;
}
#u85_img.mouseDown {
  left:0px;
  width:100px;
  height:35px;
}
#u85.mouseDown {
}
#u86 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:180px;
  top:170px;
  width:50px;
  height:50px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u88 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:250px;
  top:186px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:360px;
  top:186px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:470px;
  top:183px;
  width:60px;
  height:25px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u94 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:540px;
  top:183px;
  width:60px;
  height:25px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u96 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:610px;
  top:183px;
  width:60px;
  height:25px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u98 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:680px;
  top:183px;
  width:60px;
  height:25px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u100 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:750px;
  top:183px;
  width:60px;
  height:25px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u102 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:820px;
  top:183px;
  width:60px;
  height:25px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u104 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:180px;
  top:230px;
  width:50px;
  height:50px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u106 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:250px;
  top:246px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:360px;
  top:246px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:470px;
  top:243px;
  width:60px;
  height:25px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u112 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:540px;
  top:243px;
  width:60px;
  height:25px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u114 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:610px;
  top:243px;
  width:60px;
  height:25px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u116 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:680px;
  top:243px;
  width:60px;
  height:25px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u118 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:750px;
  top:243px;
  width:60px;
  height:25px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u120 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:820px;
  top:243px;
  width:60px;
  height:25px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u122 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:890px;
  top:243px;
  width:60px;
  height:25px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u124 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:180px;
  top:290px;
  width:50px;
  height:50px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u126 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:250px;
  top:306px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:360px;
  top:306px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:610px;
  top:303px;
  width:60px;
  height:25px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u132 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:680px;
  top:303px;
  width:60px;
  height:25px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u134 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:750px;
  top:303px;
  width:60px;
  height:25px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u136 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:820px;
  top:303px;
  width:60px;
  height:25px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u138 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:890px;
  top:303px;
  width:60px;
  height:25px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u140 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:470px;
  top:333px;
  width:60px;
  height:25px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u142 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:540px;
  top:333px;
  width:60px;
  height:25px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u144 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:470px;
  top:303px;
  width:60px;
  height:25px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u146 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:540px;
  top:303px;
  width:60px;
  height:25px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u148 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:180px;
  top:350px;
  width:50px;
  height:50px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u150 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:250px;
  top:366px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u153 {
  position:absolute;
  left:360px;
  top:366px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u155 {
  position:absolute;
  left:470px;
  top:363px;
  width:60px;
  height:25px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u156 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:540px;
  top:363px;
  width:60px;
  height:25px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u158 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:610px;
  top:363px;
  width:60px;
  height:25px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u160 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:680px;
  top:363px;
  width:60px;
  height:25px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u162 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:750px;
  top:363px;
  width:60px;
  height:25px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u164 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:820px;
  top:363px;
  width:60px;
  height:25px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u166 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:180px;
  top:410px;
  width:50px;
  height:50px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u168 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:250px;
  top:426px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u171 {
  position:absolute;
  left:360px;
  top:426px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u173 {
  position:absolute;
  left:470px;
  top:423px;
  width:60px;
  height:25px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u174 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:540px;
  top:423px;
  width:60px;
  height:25px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u176 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:610px;
  top:423px;
  width:60px;
  height:25px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u178 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:680px;
  top:423px;
  width:60px;
  height:25px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u180 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:750px;
  top:423px;
  width:60px;
  height:25px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u182 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:820px;
  top:423px;
  width:60px;
  height:25px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u184 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:890px;
  top:423px;
  width:60px;
  height:25px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u186 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:180px;
  top:470px;
  width:50px;
  height:50px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u188 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:250px;
  top:486px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u191 {
  position:absolute;
  left:360px;
  top:486px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u193 {
  position:absolute;
  left:610px;
  top:483px;
  width:60px;
  height:25px;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u194 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:680px;
  top:483px;
  width:60px;
  height:25px;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u196 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:750px;
  top:483px;
  width:60px;
  height:25px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u198 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:820px;
  top:483px;
  width:60px;
  height:25px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u200 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:890px;
  top:483px;
  width:60px;
  height:25px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u202 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:470px;
  top:513px;
  width:60px;
  height:25px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u204 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:540px;
  top:513px;
  width:60px;
  height:25px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u206 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:470px;
  top:483px;
  width:60px;
  height:25px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u208 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:540px;
  top:483px;
  width:60px;
  height:25px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u210 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:180px;
  top:530px;
  width:50px;
  height:50px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u212 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:250px;
  top:546px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u215 {
  position:absolute;
  left:360px;
  top:546px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u217 {
  position:absolute;
  left:470px;
  top:543px;
  width:60px;
  height:25px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u218 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:540px;
  top:543px;
  width:60px;
  height:25px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u220 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:610px;
  top:543px;
  width:60px;
  height:25px;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u222 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:680px;
  top:543px;
  width:60px;
  height:25px;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u224 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:750px;
  top:543px;
  width:60px;
  height:25px;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u226 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:820px;
  top:543px;
  width:60px;
  height:25px;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u228 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:180px;
  top:590px;
  width:50px;
  height:50px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u230 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:250px;
  top:606px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u233 {
  position:absolute;
  left:360px;
  top:606px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u235 {
  position:absolute;
  left:470px;
  top:603px;
  width:60px;
  height:25px;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u236 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:540px;
  top:603px;
  width:60px;
  height:25px;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u238 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:610px;
  top:603px;
  width:60px;
  height:25px;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u240 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:680px;
  top:603px;
  width:60px;
  height:25px;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u242 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:750px;
  top:603px;
  width:60px;
  height:25px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u244 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:820px;
  top:603px;
  width:60px;
  height:25px;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u246 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:890px;
  top:603px;
  width:60px;
  height:25px;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u248 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:1000px;
  top:115px;
  width:100px;
  height:35px;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u250 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:1000px;
  top:178px;
  width:100px;
  height:35px;
}
#u251_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:104px;
  height:42px;
}
#u251_img.mouseDown {
  left:0px;
  width:100px;
  height:35px;
}
#u251.mouseDown {
}
#u252 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u253 {
  position:absolute;
  left:1000px;
  top:239px;
  width:100px;
  height:35px;
}
#u253_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:104px;
  height:42px;
}
#u253_img.mouseDown {
  left:0px;
  width:100px;
  height:35px;
}
#u253.mouseDown {
}
#u254 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u255 {
  position:absolute;
  left:1000px;
  top:299px;
  width:100px;
  height:35px;
}
#u255_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:104px;
  height:42px;
}
#u255_img.mouseDown {
  left:0px;
  width:100px;
  height:35px;
}
#u255.mouseDown {
}
#u256 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:1000px;
  top:360px;
  width:100px;
  height:35px;
}
#u257_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:104px;
  height:42px;
}
#u257_img.mouseDown {
  left:0px;
  width:100px;
  height:35px;
}
#u257.mouseDown {
}
#u258 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:1000px;
  top:421px;
  width:100px;
  height:35px;
}
#u259_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:104px;
  height:42px;
}
#u259_img.mouseDown {
  left:0px;
  width:100px;
  height:35px;
}
#u259.mouseDown {
}
#u260 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:1000px;
  top:482px;
  width:100px;
  height:35px;
}
#u261_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:104px;
  height:42px;
}
#u261_img.mouseDown {
  left:0px;
  width:100px;
  height:35px;
}
#u261.mouseDown {
}
#u262 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:1000px;
  top:542px;
  width:100px;
  height:35px;
}
#u263_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:104px;
  height:42px;
}
#u263_img.mouseDown {
  left:0px;
  width:100px;
  height:35px;
}
#u263.mouseDown {
}
#u264 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u265 {
  position:absolute;
  left:1000px;
  top:603px;
  width:100px;
  height:35px;
}
#u265_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:104px;
  height:42px;
}
#u265_img.mouseDown {
  left:0px;
  width:100px;
  height:35px;
}
#u265.mouseDown {
}
#u266 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u267 {
  position:absolute;
  left:1110px;
  top:178px;
  width:100px;
  height:35px;
}
#u267_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:104px;
  height:42px;
}
#u267_img.mouseDown {
  left:0px;
  width:100px;
  height:35px;
}
#u267.mouseDown {
}
#u268 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u269 {
  position:absolute;
  left:1110px;
  top:239px;
  width:100px;
  height:35px;
}
#u269_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:104px;
  height:42px;
}
#u269_img.mouseDown {
  left:0px;
  width:100px;
  height:35px;
}
#u269.mouseDown {
}
#u270 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u271 {
  position:absolute;
  left:1110px;
  top:299px;
  width:100px;
  height:35px;
}
#u271_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:104px;
  height:42px;
}
#u271_img.mouseDown {
  left:0px;
  width:100px;
  height:35px;
}
#u271.mouseDown {
}
#u272 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u273 {
  position:absolute;
  left:1110px;
  top:360px;
  width:100px;
  height:35px;
}
#u273_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:104px;
  height:42px;
}
#u273_img.mouseDown {
  left:0px;
  width:100px;
  height:35px;
}
#u273.mouseDown {
}
#u274 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u275 {
  position:absolute;
  left:1110px;
  top:421px;
  width:100px;
  height:35px;
}
#u275_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:104px;
  height:42px;
}
#u275_img.mouseDown {
  left:0px;
  width:100px;
  height:35px;
}
#u275.mouseDown {
}
#u276 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u277 {
  position:absolute;
  left:1110px;
  top:482px;
  width:100px;
  height:35px;
}
#u277_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:104px;
  height:42px;
}
#u277_img.mouseDown {
  left:0px;
  width:100px;
  height:35px;
}
#u277.mouseDown {
}
#u278 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u279 {
  position:absolute;
  left:1110px;
  top:542px;
  width:100px;
  height:35px;
}
#u279_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:104px;
  height:42px;
}
#u279_img.mouseDown {
  left:0px;
  width:100px;
  height:35px;
}
#u279.mouseDown {
}
#u280 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u281 {
  position:absolute;
  left:1110px;
  top:603px;
  width:100px;
  height:35px;
}
#u281_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:104px;
  height:42px;
}
#u281_img.mouseDown {
  left:0px;
  width:100px;
  height:35px;
}
#u281.mouseDown {
}
#u282 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
